#game{
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
}
.ab{
    display: flex;
    align-items: center;
    /* width: 50vw; */
    
}
.btn{
    height: 20vh;
    width: 10vw;
    margin: 20px;
    border-radius: 10px;
    font-size:100px;
    color: red;
    background-color: aliceblue;
}
#reset{
    font-size: large;
    border-radius: 10px;
    height: 10vh;
}
body{
    background-color: rgb(112, 209, 209);
}
#btn:hover{

    transform: scale(1.1);
    border-color: red;
}
.hide{
    display: none;
}